__pycache__/
*.pyc
data/raw/
data/processed/
logs/
env/
data/raw/*
data/processed/*
!data/processed/label_encoder.pkl  # Keep the encoder for model training
experiments/01_increase_data_size/data_20k.json